---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="reading-time" style="float:left">
    {% include read_time.html %}
  </div>
  
  <div class="post-categories" style="float:right">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  <div class="entry">
    {{ content }}
  </div>

  <hr>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div><br>
  
  {% include disqus.html %}
  
  <div class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  
</article>
